<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KyleChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KyleChat.Properties.Settings>
            <setting name="channel" serializeAs="String">
                <value />
            </setting>
            <setting name="banASCII" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="banLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="oauthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="followAlertOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="joinGreetOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoBroadcastOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoBroadcastInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="joinGreetFrequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="joinGreeting" serializeAs="String">
                <value>Welcome to the stream @user! Hope you enjoy watching and remember to follow the rules.</value>
            </setting>
            <setting name="databaseIP" serializeAs="String">
                <value />
            </setting>
            <setting name="databasePass" serializeAs="String">
                <value />
            </setting>
            <setting name="databaseUser" serializeAs="String">
                <value />
            </setting>
            <setting name="databaseTable" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value>Nerdbot9000</value>
            </setting>
            <setting name="followMessage" serializeAs="String">
                <value>Thank you for following @name! Enjoy the stream!</value>
            </setting>
        </KyleChat.Properties.Settings>
    </userSettings>
</configuration>